DOCKER_COMPOSE="-f ./inventory.bootstrap/deployments/inventory/docker-compose_swarm.yml -f ./inventory.bootstrap/deployments/include_sql_server_with_legacy_db/docker-compose.yml"
DOTNET_ENVIRONMENT_NAME=Dev
MSSQL_PORT=1433
APP_INSIGHTS_KEY=c167bce9-b692-4968-a03c-fe46aca1edbe
AZURE_AD_TENANT_ID=26556785-747f-4bed-bdf9-5574c7ee1778
AZURE_AD_API_CLIENT_ID=eba3aaa7-2722-463f-8f65-49f080d89b29
AZURE_AD_REACT_CLIENT_ID=ce32c28a-b7aa-46ef-bcdf-8cfdbcbd4f22
AZURE_AD_SWAGGER_CLIENT_ID=5a64b74b-20d3-4bad-8e20-9b05c684cb9b
LEGACY_CONNECTION_STRING="Server=mssql;Database=Inventory;User Id=sa;MultipleActiveResultSets=true"
INVENTORY_CONNECTION_STRING="Server=mssql;Database=Inventory.vNext;User=sa;MultipleActiveResultSets=true"
MESSAGING_CONNECTION_STRING="Server=mssql;Database=Inventory.Messaging;User=sa;MultipleActiveResultSets=true"
SQL_SERVER_PASSWORD=123Password123
AZURE_KEYVAULT_ENABLED=true
AZURE_KEYVAULT_NAME=AEXINVKeyVault-Dev
REACT_APP_TELEMETRY__ENABLED=false
API_SCOPE=api://eba3aaa7-2722-463f-8f65-49f080d89b29/Master
CORS_ORIGINS=http://localhost:3000,https://${DOMAIN_NAME}